ul li {
	display: inline;
	background-color: #55ff00;
	font-size: 15px;
	padding: 8px;
	text-transform:uppercase;
	color:black;
	font-weight: 500;
	transition: all(3s);
}

ul li:hover {
	zoom:105%;
	transform: %;
}

body{
	margin-top: 10px;
	margin-left: 10px;
	background-repeat: no-repeat fixed;
	background-position: cover;
	background-size: cover;
	
}

.container{
	margin-left: 5px;
}
a:link {
  color: green;
  background-color: yellow;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255.155.125);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
 }

 #footer{
 	font-size: 20px;
 	background-color: rgb(173, 235, 204);
 	text-decoration: underline;
 	text-transform: capitalize;
 	border: 5px solid green;
 	border-radius: 10px;
 	text-align: center;
	font-style: italic;
	
 	
 }
h1
{
	color:red;
	text-decoration: underline;
	font-style: italic;
	text-transform: capitalize;

	font-size: 30px;
} 

img{
	background-position: fixed;
	background-size: contain;
}

#main{
	text-align: inherit;
}
.followme{
	text-align: center;
	color: green;
	font-size: 20px;

}
